@charset "UTF-8";

html {
  font-size: 20px;
  font-family: Arial, "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
  line-height: 1.3;
}
h1 img {
  vertical-align: bottom;
  width: 170px;
  height: 50px;
}
#wrapper {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}
main {
  width: 100%;
}
header {
  clear: both;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 2%;
  width: 98%;
  z-index: 10;
  font-weight: 700;
}
header .top_title {
  font-size: 2.4rem;
}
header .nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
header .nav_list_content {
  font-size: 1.2rem;
  padding: 0 0.5rem 0 0.4rem;
  border-right: solid 1px #000;
  display: inline-block;
}
header .nav_list_content:last-child {
  border: none;
}
header .nav_list_content a:hover {
  opacity: 0.5;
}
header #menu {
  display: none;
}
.a_default {
  text-decoration: none;
  color: #000;
}
.default_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.res_flex {
  display: flex;
}
.text_box {
  display: inline-block;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 14px;
  line-height: 1.75;
}
.l_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top .top_title {
  display: none;
}
.top_main {
  text-align: right;
}
.ml11 {
  font-weight: 900;
  font-size: 3.5em;
}
.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #000;
  transform-origin: 0 50%;
}
.ml11 .line1 {
  top: 0;
  left: 0;
}
.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.l_info {
  margin: 10rem auto 0;
}
.l_news .default_list {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.news_list {
  display: flex;
  margin-bottom: 3rem;
}
.news_text h3 {
  border-style: solid;
  border-color: #999;
  border-width: 0 0 0 10px;
  padding-left: 10px;
}
.news_date {
  font-size: 12px;
}
.news_description, .news_complement {
  font-size: 14px;
}
.news_img_box {
  width: 17.5rem;
}
.news_img {
  width: 100%;
}
div.l_shop ul:first-of-type {
  margin-right: 4rem;
}
.l_shop {
  width: 36rem;
  font-size: 14px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.l_shop h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.l_shop .default_list {
  width: 16rem;
}
.l_shop .default_list li {
  height: 4.5rem;
}
.shop_info {
  display: block;
}
.l_shop > .res_flex {
  flex-direction: column;
}
.l_collection {
  width: 24rem;
  font-weight: 700;
}
.l_collection .default_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 72px;
}
.collection_box {
  display: flex;
  flex-wrap: wrap;
  width: 54rem;
  margin: 10rem auto 0;
  padding: 0 2%;
}
.list_item > a:hover {
  opacity: 0.5;
}
.collection_list, .empty_list {
  overflow: hidden;
  width: 75px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.collection {
  width: 5rem;
  cursor: pointer;
  transform: translateX(-12.5%);
}
.empty_box {
  width: 5rem;
  margin-right: 1rem;
}
address {
  font-style: normal;
}
@media (max-height: 550px) {
  .l_center {
    position: static;
    margin: 225px 0 0 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  header {
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #fff;
  }
  .top_title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .global_nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .nav_list_content {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
    display: block;
  }
  .nav_list_content:first-of-type {
    margin-top: 0;
  }
  .global_nav_disp {
    display: none;
  }
  .top_img {
    display: none;
  }
  .res_disp_main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .l_center {
    position: static;
    width: 86%;
    margin: 0;
    transform: none;
  }
  .l_shop {
    flex-direction: column;
    margin: 6rem auto 3rem;
  }
  .l_shop {
    width: 16rem;
  }
  div.l_shop ul:first-of-type {
    margin-right: 0;
  }
  .l_shop .default_list .no_address {
    height: 2.5rem;
  }
    .l_news .default_list {
    width: 350px;
    margin: 0 auto;
  }
  .news_list {
    flex-direction: column;
  }
  .l_collection {
    width: 100%;
    max-width: 320px;
  }
  .l_collection .default_list::after {
    content: '';
    display: block;
    width: 160px;
  }
  .l_collection .list_item {
    width: 160px;
    text-align: center;
  }
  .collection_box {
    justify-content: center;
    flex-wrap: wrap;
    width: 340.094px;
    margin: 5rem auto;
  }
  .collection_box li:nth-of-type(3n) {
    margin-right: 0;
  }
  .modal_container {
    width: 100%;
    max-width: 460px;
  }
  .modal_img {
    width: 100%;
  }
  .prev, .next {
    display: none;
  }
  header {
    overflow: visible;
    padding-top: 10px;
    box-shadow: 0 0 20px #999;
  }
  header #menu {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 130px;
    height: 50px;
    list-style: none;
    outline: 0;
    color: #000;
    background-color: #fff;
    border-style: solid;
    border-color: #999;
    border-width: 1px 0 0 1px;
    box-shadow: 0 0 20px #999;
    text-decoration: none;
    line-height: 50px;
    transition-property: background-color, border;
    transition-duration: 0.3s;
  }
  header #menu.on {
    border-left: solid 50px #333;
    color: #fff;
    background-color: #333;
    transition-duration: 0.3s;
  }
  .top header {
    overflow: visible;
    background-color: #fff;
    box-shadow: none;
  }
  .top .top_main {
    position: fixed;
    top: 40%;
  }
  .top .l_center {
    position: static;
    margin: 0 auto;
    transform: translate(-8%,-50%);
  }
  .global_nav {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 55px;
    right: 0px;
    transform: translate(0%,0%);
  }
  .global_nav .nav_list_content {
    display: none;
    text-align: left;
    font-size: 0.7rem;
    width: 130px;
    height: 50px;
    margin-top: 3px;
    list-style: none;
    padding: 0;
    border: none;
  }
  .global_nav a {
    display: block;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    line-height: 50px;
    padding-left: 10px;
  }
}
@media (max-width: 350px) {
  .news_text {
    font-size: 1rem;
    padding: 10px;
  }
}
